.custom-btn{background-color: #ee5e3b;
color:white;
font-weight: bold;}

.navbar-nav{color:#757575;
font-weight: bold;}

button{background-color: #007873;
    font-size: 18px;
    border-radius: 40px;
    padding:12px 32px;
    border:none;
    font-weight: bold;
color:white;}
button a{text-decoration: none;
color:white;}

.custom-btn-2{background-color: #ee5e3b;}

@media(max-width:600px){
#d-flex{flex-direction: column;
gap:10px}
#span-1{font-size: 20px;
font-weight: normal;
padding-right: 0;
padding-left: 0;
background: transparent !important;
color: black !important;}
#btn-btn{font-size: 14px;}
#span-2{background:transparent !important;
line-height: 5vh;}
.projects{padding:20px;}
#row-row{gap:20px;}
#d-row{gap:30px;}
}

.about img{width: 80%;}
/* services */
.btn-small{background-color: #ee5e3b;
border:none;}

.custom-service-col{
background-color:seashell;
border-radius: 10px;
padding:30px}



#row-2-setting{background-color:seashell;}

/* projects */
.projects{background: linear-gradient(to right,#007873,#ee5e3b);
color:white;
margin-bottom: 40px;
padding-bottom: 30px;}

#btn-btn{background:transparent;
}

#projec-row2-img{max-width: 90%;
border-radius: 10px;
}

/* section b */
.b{background: linear-gradient(to right,#007873,#ee5e3b);}

.b img{border-radius:20px;
border:none;}

/* section c */
.c{background-color:gainsboro;}
.c img{background: transparent;
}

#a{background-color: white;
padding:20px;
border-radius: 20px;}


.fa-star-sharp{color:red;}
/* d section */
.d{background: linear-gradient(to right,#007873,#ee5e3b);}

#btn-d{background-color: #ee5e3b;}
.d img{border-radius: 50%;}
#rating{display: flex;
flex-direction: column;}
/* section e */
#phone-id{display: flex;
flex-direction: row;
align-items: center;}
#e-row{display: flex;
justify-content: space-between !important;}

/* footer */
footer{background-color: #f4f4f499;}

.service-ul li{list-style: none;}
.service-ul li a{text-decoration: none;
color:black;
font-size: 18px;}
.service-ul{display: flex;
flex-direction: column;
gap:20px;
margin-top: 60px;}

#contact-footer{background-color: white;
padding-top:40px;
border-radius: 10px;}

#service-img{width:140px;}

#featured-img{width: 180px;}
.footer-last-ul{display: flex;
gap:16px;}

.footer-last-ul li{list-style: none;}

.footer-last-ul li a{text-decoration: none;
color:black;}
.d-flex{display: flex;
justify-content: space-between;
}